body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #8e5cac, #6ec283);
    color: white;
    text-align: center;
    height: 100%;

}

.sect{
    border: solid black;
}

#cont{
      display: grid;
      grid-template-columns: 50% 50%; /* 2 columnas iguales */
      height: 100vh;                  /* Ocupa toda la altura de la ventana */
      width: 100vw;                   /* Ocupa todo el ancho */
}

.titulo{
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:
    2px 2px 0 black; 
}






    #imagen {
      max-width: 90%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      margin: 20px 0;
      transition: transform 0.3s;
    }
    img:hover {
      transform: scale(1.05);
    }
    button {
      padding: 10px 20px;
      font-size: 1em;
      background-color: #0077cc;
      color: rgb(255, 255, 255);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
    }
    button:hover {
      background-color: #005fa3;
    }



    .sel {
      padding: 10px;
      font-size: 1em;
      margin: 20px 0;
    }
    #infoPais {
      margin-top: 20px;
      color: black;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      display: inline-block;
      text-align: left;
      max-width: 400px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    img {
      max-width: 100%;
      border-radius: 5px;
      margin-top: 10px;
    }

